body{
    font-family: 'Noto Serif';
    margin: 2px;
    border: 0px;
    
}

#header{
    width: 100%;
    height: 120px;
    background: #8f50e7;
    color: white;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right:10px;
}

#sidebar{
    
    margin-top: 7px;
    margin-left: 10px;
    width: 220px;
    height: 700px;
    background: #8f50e7;
    float: left;
}

#data{
    height: 700px;
    background: white;
    
}

#adminlogo{
    padding-top: 5px;
    pdding-botton: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50px
    
}

ul li{
    padding: 20px;
    border-bottom: 2px solid gray;
    
}

ul li:hover{
    background: beige;
    color: black;
}

.footer {
  height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #50dae7;
  text-align: center;
  margin-top: 20px;
  margin-right:10px;
  margin-left: 10px;
  padding: 20px 20px 20px 40px;
 
}

  

.footer .heart {
    color: blueviolet;
}

.card{
    margin-top: 7px;
    padding: 5px;
    float: none;
    margin-right: 10px;
    margin-left: 30px;
   
}
.card :hover{
    background: white;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
}

.card-block{
    padding: 10px;
}

.btn btn-primary{
    margin-top: 5px;
    
}